<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs'); %>
  </head>
  <body>
    <header><%- include('./partials/header.ejs'); %></header>
    <span class="id"></span>
    <%- include('./partials/hero.ejs') %>
    <%- include('./partials/ourstandard.ejs') %>
    <footer>
      <%- include('./partials/footer'); %>
    </footer>
  </body>
  <!-- <script  src="../main.js"></script> -->
</html>

<script>
  const id = JSON.parse( sessionStorage.getItem('selectedFlight'))
  document.querySelector(".id").innerHTML = id 
 fetch(`http://localhost:5000/api/plan/${id}`)
        .then((response) => response.json())
        .then((data) => console.log(data))
console.log(id);
</script>