<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs'); %>
  </head>
  <body>
    <header><%- include('./partials/header.ejs'); %></header>
    <%- include('./partials/hero.ejs') %>
    <%- include('./partials/ourstandard.ejs') %>

    <footer>
      <%- include('./partials/footer'); %>
    </footer>
  </body>
</html>
